<div class = "row">
  <div class = "col text-center">
    <h2><%= Time.current.next_month.strftime("%-m")%>月休み希望</h2>
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>
