   <% @publics.each do |public| %>
<h2><%#= public.shop.shop_name %> 従業員一覧</h2>
<table>
  <thead>
    <tr>
      <th>社員ID</th><th>氏名</th><th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= public.id %></td>
      <td><%= public.name %></td>
      <td>
        <% if public.is_working? %>
          <div>在職中</div>
        <% else %>
          <div>退職済</div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "新規登録", new_admin_public_path %>