<table class="table">
  <thead>
    <tr>
      <th scope="col">店舗一覧</th>
      <th scope="col">今月のシフト</th>
      <th scope="col">休み希望</th>
      <th scope="col">来月のシフト</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
    <tr>
      <th scope="row"><%= shop.shop_name %></td>
      <td><%= link_to "確認", admin_shift_path(shop.id,{year_month: Time.current.strftime("%Y-%m")}) %></td>
      <td><%= link_to "確認", admin_submit_offs_path(shop.id) %></td>
      <td><%= link_to "確認", admin_shift_path(shop.id,{year_month: Time.current.next_month.strftime("%Y-%m")}) %></td>
    </tr>
    <% end %>
  </tbody>
</table>