<% if @shift != nil %>
    <h2><%= @shift.shop.shop_name %><%= @shift.year_month %>月度シフト</h2>
    <%= attachment_image_tag @shift, :image, :fill, 1200, 600, format:'jpg', fallback:"no_image.jpg" %>
<% else %>
<h1>投稿されていません</h1>
<% end %>