<div class="row">
  <div class="col-lg-7 mx-auto">
    <h2 class="mt-5">シフト一覧</h2>
      <!--<div class="search_form mx-auto mt-3">-->
        <%#= form_with url: search_path, method: :get, local:true do |f| %>
        <%#= f.text_field :content %>
        <!--f.select~でプルダウン作成-->
        <%#= f.collection_select :shop_id, Shop.all, :id, :shop_name %>
        <%#= f.select :year_month, *[1..12] %>
        <%#= f.submit'検索' %>
        <%# end %>
      <!--</div>-->
    <table class="table mt-4">
      <thead>
        <tr>
          <th>月度</th><th>店舗名</th>
        </tr>
      </thead>
      <tbody>
        <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.year_month %>月度</td>
          <td><%= link_to shift.shop.shop_name, admin_shift_path(shift.shop_id,{year_month: shift.year_month}) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>