<h2><%= Time.current.next_month.strftime("%-m")%>月休み希望</h2>
<table class="table table-bordered">
    <tr>
      <th nowrap>日付</th>
      <% (Time.current.next_month.beginning_of_month.to_datetime..Time.current.next_month.end_of_month.to_datetime).each do |date| %>
        <td><%= date.strftime("%-d") %></td>
      <% end %>
      <td nowrap>コメント</th>
    </tr>
    <tr>
      <th nowrap>曜日</th>
      <% (Time.current.next_month.beginning_of_month.to_datetime..Time.current.next_month.end_of_month.to_datetime).each do |date| %>
        <td><%= ["日", "月", "火", "水", "木", "金", "土"][date.wday] %></td>
       <% end %>
    </tr>
    <% @publics.each do |public| %>
    <tr>
      <th nowrap><%= public.name %></th>
    </tr>
    <% end %>
    <!--<tr>-->
    <!--  <%# @submit_offs.each do |submit_off| %>-->
    <!--    <th colspan="3"><%#= submit_off.public.name %></th>-->
    <!--    <td><%#= submit_off.remarks %></td>-->
    <!--</tr>-->
    <!--  <%# end %>-->
</table>